<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.amaan.project.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.amaan.project.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <display-name>MyApp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addUserDataController</display-name>
    <servlet-name>addUserDataController</servlet-name>
    <servlet-class>com.amaan.project.controller.addUserDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserDataController</servlet-name>
    <url-pattern>/addUserDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotesViewerController</display-name>
    <servlet-name>NotesViewerController</servlet-name>
    <servlet-class>com.amaan.project.controller.NotesViewerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesViewerController</servlet-name>
    <url-pattern>/NotesViewerController</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>MyResources</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>myUserRole</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>FILE</realm-name>
  </login-config>
  <servlet>
    <description></description>
    <display-name>DeleteAccountController</display-name>
    <servlet-name>DeleteAccountController</servlet-name>
    <servlet-class>com.amaan.project.controller.DeleteAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountController</servlet-name>
    <url-pattern>/DeleteAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotesAddition</display-name>
    <servlet-name>NotesAddition</servlet-name>
    <servlet-class>com.amaan.project.controller.NotesAddition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesAddition</servlet-name>
    <url-pattern>/NotesAddition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotesAdditionController</display-name>
    <servlet-name>NotesAdditionController</servlet-name>
    <servlet-class>com.amaan.project.controller.NotesAdditionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesAdditionController</servlet-name>
    <url-pattern>/NotesAdditionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotesReadController</display-name>
    <servlet-name>NotesReadController</servlet-name>
    <servlet-class>com.amaan.project.controller.NotesReadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesReadController</servlet-name>
    <url-pattern>/NotesReadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataDeletionController</display-name>
    <servlet-name>DataDeletionController</servlet-name>
    <servlet-class>com.amaan.project.controller.DataDeletionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataDeletionController</servlet-name>
    <url-pattern>/DataDeletionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyApp1Controller</display-name>
    <servlet-name>MyApp1Controller</servlet-name>
    <servlet-class>com.amaan.project.controller.MyApp1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyApp1Controller</servlet-name>
    <url-pattern>/MyApp1Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileUploadController</display-name>
    <servlet-name>fileUploadController</servlet-name>
    <servlet-class>com.amaan.project.controller.fileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUploadController</servlet-name>
    <url-pattern>/fileUploadController</url-pattern>
  </servlet-mapping>
</web-app>